Language: Cpp
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Braces
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false

# Spacing & Alignment
PointerAlignment: Left
IndentCaseLabels: true
ColumnLimit: 120
SortIncludes: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignOperands: Align
AlignTrailingComments: true

# Lines
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
